.post-details-user {
  margin: 55px;
}

.post-details-value {
  padding-right: 40px;
}
.post-details-Container {
  margin: 55px;
  justify-content: center;
  padding-right: 90px;
}

.post-details-input {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

.comments {
  padding-bottom: 20px;
  color: rgb(71, 71, 230);
  text-decoration: underline;
  cursor: pointer;
}
